html{
	scroll-behavior: smooth;
}

body {
    background: black;
    background-image: url('../images/background.jpg');
}

a{
	text-decoration: none;
	color: white;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
	padding: 1rem;
}

h3{
	font-family: 'impact';
	color: black;
	font-size: 3rem;
	padding: 1rem;
	text-shadow: -2px -2px 0 #ff1bb0, 2px 2px 0 #00e4ff;
	text-transform: uppercase;
	letter-spacing: 10px;
	z-index: 1;
}

nav{
	width: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	justify-content: center;
	display: flex;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
}

main{
	display: flex;
	flex-direction: column;
}

header{
	height: 55vh;
}

footer{
	font-family: 'Inconsolata', serif;
	text-align: center;
	color: white;
	writing-mode: vertical-rl;
	text-orientation: upright;
	position: fixed;
	bottom: 0;
	left: 0;
}


/*---------------- navigation -----------------*/
.navigation{
	display: flex;
	flex-direction: row;
}

.navigation_item{
    font-family: 'Inconsolata', serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: black;
	font-size: 1rem;
	margin: .5rem;
}

.navigation_item1{
	text-shadow: none;
}

.navigation_item2{
	text-shadow: none;
}

.navigation_item:hover, .navigation_item:active{
    text-shadow: -1px -1px 0 #ff1bb0, 1px 1px 0 #00e4ff;
}

.navigation_active {
	text-shadow: -1px -1px 0 #ff1bb0, 1px 1px 0 #00e4ff;
}

.line{
	width: 5px;
	margin: auto;
	height: 10vh;
	box-shadow: -1px -1px 0 #ff1bb0, 1px 1px 0 #00e4ff;
	}

/*---------------- header -----------------*/

.title_container{
	height: 60vh;
	margin-top: 40vh;
}

.title{
	font-family: 'impact';
	font-size: 6rem;
	padding: 1rem;
	text-shadow: -2px -4px 0 #ff1bb0, 4px 2px 0 #00e4ff;
	text-transform: uppercase;
	letter-spacing: 10px;
	animation-duration: .3s;
	animation-iteration-count: infinite;
    animation-name: glitch;
}

@keyframes glitch {
  2% {
    text-shadow: -2px -4px 0 #ff1bb0, 4px 2px 0 #00e4ff;
    margin-left: -3rem;
    margin-top: auto;
  }

  3% {
    text-shadow: -2px -4px 0 #ff1bb0, 4px 2px 0 #00e4ff;
    margin-left: 15rem;
    margin-top: 2rem;
  }

  4% {
    text-shadow: -2px -4px 0 #ff1bb0, 4px 2px 0 #00e4ff;
    margin-left: auto;
    margin-top: auto;
  }

  8% {
    text-shadow: -6px -4px 0 #00e4ff, 4px 0px 0 #ff1bb0;
    opacity: 1;
  }

  10% {
    text-shadow: none;
    opacity: 0;
  }

  11% {
    text-shadow: -2px -4px 0 #ff1bb0, 4px 2px 0 #00e4ff;
    opacity: 1;
  }

  100% {
    text-shadow: -2px -4px 0 #ff1bb0, 4px 2px 0 #00e4ff;
  }
}

.subtitle{
	font-family: 'Inconsolata', serif;
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 10px;
	box-shadow: -4px -2px 0 #00e4ff, 4px 2px 0 #ff1bb0;
	width: max-content;
	margin-left: 50%;
	transform: translateX(-50%);
}

/*---------------- main content -----------------*/

.pro_container, .perso_container{
	display: flex;
	flex-direction: column;
	padding: 2rem;
	color: white;
}

.perso{
	margin-bottom: 8rem;
}

.pro{
	align-self: end;
}

.pro, .perso{
	display: flex;
	align-items: center;
	width: 90%;
	min-height: 90vh;
	margin: auto;
}

.perso_img, .pro_img{
	margin: 2rem;
	max-width: 140vw;
	width: 100%;
	margin-top: -7rem;
	z-index: 0;
}

.perso_description, .pro_description{
	font-family: 'Inconsolata', serif;
	color: white;
}

.pro_description{
	text-align: right;
}

.perso_text, .pro_text{
	margin: 2rem;
	padding: 2rem;
	font-size: 16px;
}

@media (max-width: 1000px) {
	.perso{
		flex-direction: column;
		margin-bottom: 10rem;
	}

	.perso_text, .pro_text{
		margin-top: 0;
	}

	.pro{
		flex-direction: column-reverse;
	}
}

@media (max-width: 1100px) {
	.title{
		font-size: 4rem;
	}

	h3{
		font-size: 3rem;
		padding: 1rem 0;
		letter-spacing: 3px;
	}

	p{
		font-size: .9rem;
	}
}